<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" type="text/css" href="./design/main.css">
  <link rel="stylesheet" type="text/css" href="./design/normalize.css">
</head>
<body>

  <!-- SITE-HEADER -->
  <header class="site-header">
    <!-- site-header-top -->
    <div class="site-header__top">
      <div class="container site-header__top-container">
        <address class="site-header__address"><%=address %></address>

        <ul class="phones">
          <li class="phones__item">
            <a class="phones__link" href="tel:+0676347574"><%=tel1 %></a>
          </li>
          <li class="phones__item">
            <a class="phones__link" href="tel:+0637570131"><%=tel2 %></a>
          </li>
          <li class="phones__item">
            <a class="phones__link" href="tel:+0982664389"><%=tel3 %></a>
          </li>
        </ul>
        <ul class="work-hours">
          <li class="work-hours__item">
            <b class="work-hours__day"><%=workHours %></b>
            <time class="work-hours__time" datetime="08:00"><%=dataTime %></time> - <time class="work-hours__time" datetime="18:00">18:00</time>
          </li>
          <li class="work-hours__item">
            <b class="work-hours__day"><%=workHours2 %></b>
            <time class="work-hours__time" datetime="08:00"><%=dataTime %></time> - <time class="work-hours__time" datetime="14:00">14:00</time>
          </li>
        </ul>
      </div>
    </div>

    <!-- SITE-HEADER BOTTOM -->
    <div class="site-header__bottom">
      <div class="container site-header__bottom-container">
        <div class="logo">
          <a class="logo__link" href="/views/index.ejs">
            <img class="logo__img" src="img/logo.svg" alt="site logo" width="178" height="86">
          </a>
        </div>

        <nav class="sitenav">
          <ul class="sitenav__list">
            <li class="site-nav__item sitenav__item--active">
              <a class="sitenav__link" href="/"><%=linkHome %></a>
            </li>
            <li class="site-nav__item">
              <a class="sitenav__link" href="/about"><%=linkAbout %></a>
            </li>
            <li class="site-nav__item">
              <a class="sitenav__link" href="/services"><%=linkService %></a>
            </li>
            <li class="site-nav__item">
              <a class="sitenav__link" href="/blog"><%=linkBlog %></a>
            </li>
            <li class="site-nav__item">
              <a class="sitenav__link" href="/faq"><%=linkFaq %></a>
            </li>
            <li class="site-nav__item">
              <a class="sitenav__link" href="/contact"><%=linkContact %></a>
            </li>
          </ul>
        </nav>
        <a class="question-link"><%=linkQuestion %></a>
      </div>
    </div>
  </header><!-- SITE-HEADER -->


  <!-- SITE-MAIN -->
  <main class="site-main">
    <!-- ABOUT-SECTION -->
    <section class="about-section">
      <div class="container">
        <div class="about-intro">
          <h1 class="about-intro__heading"><%=aboutHeading %> </h1>
          <p class="about-intro__text">Собака, кошка, попугай, шиншилла… Сколько радости и тепла приносят эти весёлые друзья в наш дом.</p>
          <img class="about-intro__img" src="img/contact-search-bg/contact-search-bg.png" alt="" width="668" height="235">
        </div>
      </div>

      <section class="about-info">
        <div class="about-info__left">
          <img class="about-info__img" src="img/contact-home-img/contact-home-img.jpg" alt="home" width="705" height="449">
        </div>
        <div class="about-info__right">
          <p class="about-info__right-text">Принимая решение о том, чтобы завести домашнего любимца, или уже имея его, мы не должны забывать, что животное это живой организм, который требует не только нашей любви, а и заботы о её здоровье и  внешнем виде. Ответственность хозяина заключается в чётком выполнении правил по уходу за животным, своевременного обращения к врачу за консультацией и помощи в решении любого вопроса. Ведь мы в ответе за тех, кого приручили!</p>
        </div>
      </section>

      <section class="about-nodal">
        <div class="container">
          <div class="about-nodal__left-box">
            <p class="about-nodal__text">Ветеринарная клиника предоставляет широкий спектр услуг,  начиная от простых профилактических мероприятий до сложных хирургических вмешательств. Мы проводим рентгенографические, ультразвуковые исследования.Проводится анализ крови как общеклинический, так и биохимический. Проводится общий анализ мочи с микроскопией осадка.</p>
            <p class="about-nodal__text">Только у нас Вы можете провести анализ крови кошек на такие заболевания как панлейкопения, кальцивироз, герпесвирусная инфекция, короновироз, токсоплазмоз и хламидиоз. А также собак на такие заболевания как инфекционный гепатит, парвовирусный энтерит, чума плотоядных. С полным спектром услуг можно ознакомиться здесь.</p>
          </div>
          <img class="about-nodal__img" src="img/about-bg-2/about-bg-2.png" srcset="img/about-bg-2/about-bg-2.png 1x, img/about-bg-2/about-bg-2@2x.png 2x" alt="dog is lying" width="797" height="532">
        </div>
      </section>

      <section class="about-offer">
        <div class="container">
          <div class="about-offer__container">
            <div class="about-offer__left-wrapper">
              <h2 class="abou-offer__heading">Хочешь подстричь
                <span class="about-offer__heading-span">питомца?</span>
              </h2>
              <p class="about-offer__text">В лечебнице работает кабинет груммера, после посещения которого, Ваш любимец будет особенно неотразим и привлекателен.</p>
              <div class="about-offer__button-wrapper">
                <button class="about-offer__button-left" type="button"></button>
                <button class="about-offer__button-right" type="button"></button>
                <sup class="about-offer__sup">1</sup>
                <span class="about-offer__span">/</span>
                <sub class="about-offer__sub">5</sub>
              </div>
            </div>
            <ul class="about-offer__list">
              <li class="about-offer__item">
                <img class="about-offer__item-img" src="img/about-bottom-images/about-bottom-img-1.png" srcset="img/about-bottom-images/about-bottom-img-1.png 1x,img/about-bottom-images/about-bottom-img-1@2x.png 2x" alt="img" width="307" height="400">
              </li>
              <li class="about-offer__item">
                <img class="about-offer__item-img" src="img/about-bottom-images/about-bottom-img-2.png" srcset="img/about-bottom-images/about-bottom-img-2.png 1x, img/about-bottom-images/about-bottom-img-2@2x.png 2x" alt="img" width="307" height="400">
              </li>
              <li class="about-offer__item">
                <img class="about-offer__item-img" src="img/about-bottom-images/about-bottom-img-3.png" srcset="img/about-bottom-images/about-bottom-img-3.png 1x, img/about-bottom-images/about-bottom-img-3@2x.png 2x" alt="img" width="307" height="400">
              </li>
            </ul>
          </div>
        </div>
      </section>
    </section>
  </main>


  <!-- SITE-FOOTER -->
  <footer class="site-footer">
    <div class="container site-footer__container">
      <a class="site-footer__logo-link" href="index.html">
        <img class="site-footer__logo-img" src="img/logo.svg" alt="site logo" width="178" height="86">
      </a>
      <ul class="site-footer__list">
        <li class="site-footer__item">
          <a class="site-footer__link" href="/"><%=linkHome %></a>
        </li>
        <li class="site-footer__item">
          <a class="site-footer__link" href="/about"><%=linkAbout %></a>
        </li>
        <li class="site-footer__item">
          <a class="site-footer__link" href="/services"><%=linkService %></a>
        </li>
        <li class="site-footer__item">
          <a class="site-footer__link" href="/blog"><%=linkBlog %></a>
        </li>
        <li class="site-footer__item">
          <a class="site-footer__link" href="/faq"><%=linkFaq %></a>
        </li>
        <li class="site-footer__item">
          <a class="site-footer__link" href="/contact"><%=linkContact %></a>
        </li>
      </ul>

      <div class="site-footer__work-hours--wrapper">
        <ul class="site-footer__work-hours--list">
          <li class="site-footer__work-hours--item">
            <b class="site-footer__work-hours--day"><%=workHours %></b>
            <time class="site-footer__work-hours--time" datetime="08:00"><%=dataTime %></time> - <time class="site-footer__work-hours--time" datetime="18:00">18:00</time>
          </li>
          <li class="site-footer__work-hours--item">
            <b class="site-footer__work-hours--day"><%=workHours2 %></b>
            <time class="site-footer__work-hours--time" datetime="08:00"><%=dataTime %></time> - <time class="site-footer__work-hours--time" datetime="14:00">14:00</time>
          </li>
        </ul>
      </div>

      <div class="site-footer__address-wrapper">
        <address class="site-footer__address"><%=address %></address>
      </div>

      <div class="site-footer__phones-wrapper">
        <ul class="site-footer__phones--list">
          <li class="site-footer__phones--item">
            <a class="site-footer__phones--link" href="tel:+0676347574"><%=tel1 %></a>
          </li>
          <li class="site-footer__phones--item">
            <a class="site-footer__phones--link" href="tel:+0637570131"><%=tel2 %></a>
          </li>
          <li class="site-footer__phones--item">
            <a class="site-footer__phones--link" href="tel:+0982664389"><%=tel3 %></a>
          </li>
        </ul>
      </div>
      <p class="site-footer__text"><%=copyright %></p>
    </div>
  </footer><!-- SITE-FOOTER -->

  <!-- MODAL -->
  <section class="modal">
    <div class="modal-content">
      <div class="modal-dialog">
        <button class="close-buttton" type="button">X</button>
        <div class="modal-dialog__left-box">
          <h3 class="modal-dialog__left-heading">Авторизация:</h3>
          <a class="modal-dialog__left-link google" href="#">Войти через Google</a>
          <a class="modal-dialog__left-link facebook" href="#">Войти через Facebook</a>
        </div>
        <div class="modal-dialog__right-box">
          <h3 class="modal-dialog__right-heading">Задать вопрос</h3>
          <form class="modal-dialog__form" action="https://echo.htmlacademy.ru">
            <input class="modal-dialog__input" type="text" name="name" aria-label="enter your name" placeholder="Ваше имя" required>
            <div class="modal-dialog__textarea-box">
              <textarea class="modal-dialog__textarea" name="message" aria-label="enter your message" cols="30" rows="7" placeholder="Опишите Ваш вопрос." required></textarea>
              <div class="modal-dialog__textarea-inner-box">Например: в каком возрасте можно прививать от бешенства?</div>
            </div>
            <button class="modal-dialog__button" type="submit">Отправить</button>
          </form>
        </div>
      </div>
    </div>
  </section><!-- MODAL -->

  <!-- JS -->
  <script>
    var elModalToggler = document.querySelector('.question-link');
    var elModal = document.querySelector('.modal');
    var elModalClose =document.querySelector('.close-buttton');

    elModalToggler.addEventListener('click', function (){
      elModal.classList.add('modal--open');
    });

    elModalClose.addEventListener('click', function () {
      elModal.classList.remove('modal--open');
    });
  </script><!-- JS -->

</body>
</html>