<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vet Clinic</title>
  <link rel="stylesheet" type="text/css" href="./design/main.css">
  <link rel="stylesheet" type="text/css" href="./design/normalize.css">
</head>
<body>

  <!-- SITE-HEADER -->
  <header class="site-header">
    <!-- site-header-top -->
    <div class="site-header__top">
      <div class="container site-header__top-container">
        <address class="site-header__address"><%=address %></address>

        <ul class="phones">
          <li class="phones__item">
            <a class="phones__link" href="tel:+0676347574"><%=tel1 %></a>
          </li>
          <li class="phones__item">
            <a class="phones__link" href="tel:+0637570131"><%=tel2 %></a>
          </li>
          <li class="phones__item">
            <a class="phones__link" href="tel:+0982664389"><%=tel3 %></a>
          </li>
        </ul>
        <ul class="work-hours">
          <li class="work-hours__item">
            <b class="work-hours__day"><%=workHours %></b>
            <time class="work-hours__time" datetime="08:00"><%=dataTime %></time> - <time class="work-hours__time" datetime="18:00">18:00</time>
          </li>
          <li class="work-hours__item">
            <b class="work-hours__day"><%=workHours2 %></b>
            <time class="work-hours__time" datetime="08:00"><%=dataTime %></time> - <time class="work-hours__time" datetime="14:00">14:00</time>
          </li>
        </ul>
      </div>
    </div>

    <!-- SITE-HEADER BOTTOM -->
    <div class="site-header__bottom">
      <div class="container site-header__bottom-container">
        <div class="logo">
          <a class="logo__link" href="/">
            <img class="logo__img" src=<%=logo %> alt="site logo" width="178" height="86">
          </a>
        </div>

        <nav class="sitenav">
          <ul class="sitenav__list">
            <li class="site-nav__item sitenav__item--active">
              <a class="sitenav__link" href="/"><%=linkHome %></a>
            </li>
            <li class="site-nav__item">
              <a class="sitenav__link" href="/about"><%=linkAbout %></a>
            </li>
            <li class="site-nav__item">
              <a class="sitenav__link" href="/services"><%=linkService %></a>
            </li>
            <li class="site-nav__item">
              <a class="sitenav__link" href="/blog"><%=linkBlog %></a>
            </li>
            <li class="site-nav__item">
              <a class="sitenav__link" href="/faq"><%=linkFaq %></a>
            </li>
            <li class="site-nav__item">
              <a class="sitenav__link" href="/contact"><%=linkContact %></a>
            </li>
          </ul>
        </nav>
        <a class="question-link"><%=linkQuestion %></a>
      </div>
    </div>
  </header><!-- SITE-HEADER -->

  <!-- SITE-MAIN -->
  <main class="site-main">

    <!-- INTRO SECTION -->
    <section class="intro">
      <div class="container">
        <div class="intro__wrapper">
          <h1 class="intro__heading">
            <span class="intro__span"><%=heading %></span><br><%=headingSpan %></h1>
            <p class="intro__text">Вам и Вашему любимцу множество услуг по диагностике, профилактике заболеваний по лечению и уходу за Вашими животными.Профессионалы работающие в нашей клинике делают все для того, чтобы быстро, эффективно и максимально безболезненно выполнить любие процедуры,которые необходимы Вашему домашнему любимцу.</p>
            <a class="intro__link" href="/services"><%=linkService %></a>
          </div>
        </div>
      </section> <!-- INTRO SECTION -->

      <!-- QUOTE SECTION -->
      <section class="quote">
        <div class="container quote__container">
          <h3 class="quote__title">Оржоникидзевская Ветеринарная клиника</h3>
          <div class="quote__wrapper">
            <hr class="quote__hr">
            <p class="quote__text">Наша ветеринарная клиника готова уделить максимум внимания Вам и Вашему питамцу. Здоровье и благополучие Ваших животных очень важно для нас и мы стремимся оказать наилучшую возможную ветеринарную помощь.</p>
            <hr class="quote__hr">
          </div>
        </div>
      </section> <!-- QUOTE SECTION -->



      <!-- EVENTS SECTION -->
      <section class="events">
        <img class="events__img" src="./big-dog/big-dog.png" srcset="./big-dog/big-dog.png 1x, ./big-dog/big-dog@2x.png 2x" alt="dalmatin img" width="613" height="481">
        <div class="container">
          <form class="event__form" action="https://echo.htmlacademy.ru" method="POST">
            <h2 class="events__heading">Будь в курсе событий</h2>
            <input class="events__input" type="email" name="email" aria-label="enter your email" pattern="^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$" placeholder="Укажите Ваш email адрес" required>
            <button class="events__btn" type="submit">Подписаться</button>
          </form>
        </div>
      </section> <!-- EVENTS SECTION -->



    </main><!-- SITE-MAIN -->

    <!-- SITE-FOOTER -->
  <footer class="site-footer">
    <div class="container site-footer__container">
      <a class="site-footer__logo-link" href="index.html">
        <img class="site-footer__logo-img" src="./logo.svg" alt="site logo" width="178" height="86">
      </a>
      <ul class="site-footer__list">
        <li class="site-footer__item">
          <a class="site-footer__link" href="/"><%=linkHome %></a>
        </li>
        <li class="site-footer__item">
          <a class="site-footer__link" href="/about"><%=linkAbout %></a>
        </li>
        <li class="site-footer__item">
          <a class="site-footer__link" href="/services"><%=linkService %></a>
        </li>
        <li class="site-footer__item">
          <a class="site-footer__link" href="/blog"><%=linkBlog %></a>
        </li>
        <li class="site-footer__item">
          <a class="site-footer__link" href="/faq"><%=linkFaq %></a>
        </li>
        <li class="site-footer__item">
          <a class="site-footer__link" href="/contact"><%=linkContact %></a>
        </li>
      </ul>

      <div class="site-footer__work-hours--wrapper">
        <ul class="site-footer__work-hours--list">
          <li class="site-footer__work-hours--item">
            <b class="site-footer__work-hours--day"><%=workHours %></b>
            <time class="site-footer__work-hours--time" datetime="08:00"><%=dataTime %></time> - <time class="site-footer__work-hours--time" datetime="18:00">18:00</time>
          </li>
          <li class="site-footer__work-hours--item">
            <b class="site-footer__work-hours--day"><%=workHours2 %></b>
            <time class="site-footer__work-hours--time" datetime="08:00"><%=dataTime %></time> - <time class="site-footer__work-hours--time" datetime="14:00">14:00</time>
          </li>
        </ul>
      </div>

      <div class="site-footer__address-wrapper">
        <address class="site-footer__address"><%=address %></address>
      </div>

      <div class="site-footer__phones-wrapper">
        <ul class="site-footer__phones--list">
          <li class="site-footer__phones--item">
            <a class="site-footer__phones--link" href="tel:+0676347574"><%=tel1 %></a>
          </li>
          <li class="site-footer__phones--item">
            <a class="site-footer__phones--link" href="tel:+0637570131"><%=tel2 %></a>
          </li>
          <li class="site-footer__phones--item">
            <a class="site-footer__phones--link" href="tel:+0982664389"><%=tel3 %></a>
          </li>
        </ul>
      </div>
      <p class="site-footer__text"><%=copyright %></p>
    </div>
  </footer><!-- SITE-FOOTER -->

    <!-- MODAL -->
    <section class="modal">
      <div class="modal-content">
        <div class="modal-dialog">
          <button class="close-buttton" type="button">X</button>
          <div class="modal-dialog__left-box">
            <h3 class="modal-dialog__left-heading">Авторизация:</h3>
            <a class="modal-dialog__left-link google" href="#">Войти через Google</a>
            <a class="modal-dialog__left-link facebook" href="#">Войти через Facebook</a>
          </div>
          <div class="modal-dialog__right-box">
            <h3 class="modal-dialog__right-heading">Задать вопрос</h3>
            <form class="modal-dialog__form" action="https://echo.htmlacademy.ru">
              <input class="modal-dialog__input" type="text" name="name" aria-label="enter your name" placeholder="Ваше имя" required>
              <div class="modal-dialog__textarea-box">
                <textarea class="modal-dialog__textarea" name="message" aria-label="enter your message" cols="30" rows="7" placeholder="Опишите Ваш вопрос." required></textarea>
                <div class="modal-dialog__textarea-inner-box">Например: в каком возрасте можно прививать от бешенства?</div>
              </div>
              <button class="modal-dialog__button" type="submit">Отправить</button>
            </form>
          </div>
        </div>
      </div>
    </section><!-- MODAL -->

    <!-- JS -->
    <script>
      var elModalToggler = document.querySelector('.question-link');
      var elModal = document.querySelector('.modal');
      var elModalClose =document.querySelector('.close-buttton');

      elModalToggler.addEventListener('click', function (){
        elModal.classList.add('modal--open');
      });

      elModalClose.addEventListener('click', function () {
        elModal.classList.remove('modal--open');
      });
    </script><!-- JS -->

  </body>
  </html>